@import url("https://fonts.cdnfonts.com/css/gotham-rounded");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham Rounded", sans-serif;
}

ul {
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
}
html {

    scroll-behavior: smooth;
}
body {
    @include bg($bg-darker);
    scroll-behavior: smooth;
    overflow:hidden;
    .wrapper {
        @include wrapper(1200px);
    }

    section {
        height: 90vh;
        @include break(smedium) {
            height: 100vh;
        }
    }
}

a {
    color: $primary;
    text-decoration: none;
    transition: color .2s;
    &:hover {
        color: white; 
    }
    &:visited {
        color: $primary;
        &:hover {
            color: white;
        }
    }
    &.button {
        @include radius(5px);
        display: inline-block;
        font-size: 1.1rem;
        margin-top: 1rem;
        padding: 1rem 1.5rem;
        &.primary {
            @include bg(rgba($primary, 0.2));
            color: $primary;
        }
        &.secondary {
            @include bg($bg-darker);
            color: $primary;
        }
        .empty {
            @include bg($bg-darker);
            color: $primary;
        }
    }
}