section.home {
    height: 100vh;
    padding: 2rem;
    color: white;
    .hero-container {

    @include flex(column, nowrap, space-evenly, center);
        height: 100%;
    }
    .copy-container {
        p {
            font-weight: 300;
        }
        p.name {
            font-weight: 400;
            color: $primary;
            font-size: 2.5rem;
        }
    }
}