.off-screen-nav {
    @include bg($bg-dark);
    @include size(100vh, 100%);
    padding: 2rem;
    position: fixed;
    top: 0;
    right: -400px;
    max-width: 400px;
    transition: right .3s;
    @include break(medium) {
        display: none;
    }
    &.show {
        right: 0;
    }
    .header-container {
        margin-top: 3rem;
        text-align: center;
        h1 {
            color: white;
        }
        h2 {
            color: $primary;
            font-weight: 300;
        }
    }
    ul {
        margin-top: 2rem;
        li {
            @include size(100%, auto);
            a {
                display: block;
                padding: 1rem;
                text-align: center;
                font-size: 2rem;
            }
        }
    }
}