.off-screen-nav {
    @include bg($bg-darker);
    @include size(100vh, 100%);
    padding: 2rem;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: right .3s;
    z-index: 50;
    @include break(medium) {
        display: none;
    }
    &.show {
        right: 0;
    }
    
    ul {
        margin-top: 4rem;
        li {
            @include size(100%, auto);
            a {
                display: block;
                padding: 1rem;
                text-align: center;
                font-size: 2rem;
            }
        }
    }
}